@page {
    size: A4 portrait;
    margin: 2cm;
}

body {
    margin: 0;
    background-color: white;
}

div#wrapper {
    width: auto;
    height: auto;
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    box-shadow: none;
}

nav#toolbar {
    display: none;
}